#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

#votacion{
  display:grid;
}

.opcion{
  border: 1px solid #ddd;
  padding:20px;
  flex-grow:2;
}

.opcion:hover{
  background:#f5f5f5;
}
